# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

#exclude front
ts-vulnerabilities-sls-front-admin
ts-vulnerabilities-sls-front-client